body {
<<<<<<< HEAD
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* height: 100%; */
}

=======
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* .container {
    height: 100px;
} */

>>>>>>> master
main {
    flex: 1 0 auto;
}

h4 {
<<<<<<< HEAD
  font-family: 'Pacifico', cursive;
}

#root {
    height: 100%
}

.container {
    max-width: 900px;
    /* min-height: 100vh; */
    position: relative;
}

.black-text:hover {
  background-color: #2bbbad;
=======
    font-family: 'Pacifico', cursive;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0 0 -100px 0;
    /* above margin is a hack to solve the white space problem but should figure out where it comes from */
    border: 0;
>>>>>>> master
}