body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* height: 100%; */
}

main {
  flex: 1 0 auto;
}

h4 {
  font-family: 'Pacifico', cursive;
}

#root {
    height: 100%;
}

.container {
    max-width: 900px;
    /* min-height: 100vh; */
    position: relative;
}

.black-text:hover {
  background-color: #2bbbad;
}